<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Defense Estate | Submit Property</title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body style="background-color: #2e2e2e">

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <header class="main-header">
        <div class="main-box clearfix" style="background: #2e2e2e">
        	<!-- Logo Box -->
            <div class="logo-box">
                <div class="logo"><a href="#"><img src="images/2.png" alt="" title=""></a></div>
            </div>

            <!-- Upper Right-->
            <div class="upper-right">
                <ul class="clearfix">
                    <li class="dropdown option-box">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="color: #FFFFFF"> <img src="images/resource/thumb-1.jpg" alt="avatar" class="thumb">My Account</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Dashboard</a>
                            <a class="dropdown-item" href="#">Messages</a>
                            <a class="dropdown-item" href="#">Bookings</a>
                            <a class="dropdown-item" href="#">My profile</a>
                            <a class="dropdown-item" href="#">Log out</a>
                        </div>
                    </li>
<!--                    <li class="submit-property">-->
<!--                    	<a href="submit-property.html" class="theme-btn btn-style-one">Submit Property <i class="pe-7s-up-arrow"></i></a>-->
<!--                    </li>-->
                    <li class="nav-toggler">
                    	<button class="toggler-btn nav-btn"><span class="bar bar-one" style="background-color: #FFFFFF"></span><span class="bar bar-two" style="background-color: #FFFFFF"></span><span class="bar bar-three" style="background-color: #FFFFFF"></span></button>
                    </li>
                </ul>
            </div>
        </div>
        <!--End Header Lower-->
    </header>
    <!--End Main Header -->
    
    <!-- Hidden Bar -->
    <section class="hidden-bar">
        <div class="dashboard-inner">
        	<div class="cross-icon"><span class="pe-7s-close-circle"></span></div>
        	<ul class="navigation">
	            <li><a href="dashboard.html"><i class="pe-7s-culture"></i> Dashboard</a></li>
	            <li><a href="bookings.html"><i class="pe-7s-date"></i>Bookings</a></li>
	            <li><a href="my-properties.html"><i class="pe-7s-diamond"></i>My Properties</a></li>
	            <li class="active"><a href="submit-property.html"><i class="pe-7s-up-arrow"></i>Submit Property</a></li>
	            <li><a href="my-profile.html"><i class="pe-7s-user"></i>My Profile</a></li>
	            <li><a href="../index.html"><i class="pe-7s-back-2"></i>Logout</a></li>
	        </ul>
	    </div>
    </section>
    <!--End Hidden Bar -->

    <div class="dashboard" style="background-color: #2e2e2e">
	    <div class="container-fluid">
	        <div class="content-area">
	            <div class="dashboard-content">
	                <div class="dashboard-header clearfix">
	                    <div class="row">
	                        <div class="col-md-6 col-sm-12"><h4 style="color: #FFFFFF">Submit Property</h4></div>
	                        <div class="col-md-6 col-sm-12">
	                            <div class="breadcrumb-nav">
	                                <ul>
	                                    
	                                    <li class="active">Submit Property</li>
	                                </ul>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="row">
	                    <div class="column col-lg-12">
	                    	<div class="properties-box">
	                    		<div class="inner-container">
	                    			<div class="property-submit-form">
			                            <form method="post" action="index.html">
										<div class="title" style="background-color: #2f4f4f"><h3>Basic Info</h3></div>
			                                <div class="row">
			                                	
                                                
                                                <!-- Form Group -->
			                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
			                                        <label style="color: #FFFFFF">Status</label>
			                                        <select class="custom-select-box">
			                                            <option>Rent</option>
			                                            <option>Sale</option>
			                                        </select>
			                                    </div>
                                                
                                                <!-- Form Group -->
			                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
			                                        <label style="color: #FFFFFF">City</label>
			                                        <select class="custom-select-box">
			                                            <option>DHA Lahore</option>
                                                        <option>DHA Raya(Lahore)</option>
                                                        <option>DHA Multan</option>
                                                        <option>DHA Bahawalpur</option>
                                                        <option>DHA Gujranwala</option>
                                                        <option>DHA Peshawar</option>
			                                            <option>DHA Quetta</option>
			                                        </select>
			                                    </div>
                                                
                                                <!-- Form Group -->
			                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
			                                        <label style="color: #FFFFFF">Property Title</label>
			                                        <input type="text" name="text" placeholder="Property Title" required>
			                                    </div>

			                                    <!-- Form Group -->
			                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
			                                        <label style="color: #FFFFFF">Property Type</label>
			                                        <select class="custom-select-box">
		                                                <option>Property Type</option>
		                                                <option>Homes</option>
		                                                <option>Commercial</option>
                                                        <option>Appartment</option>
		                                                <option>Plots</option>
                                                        <option>File</option>
                                                        <option>Farm House</option>
		                                            </select>
			                                    </div>
                                                
                                                
                                                
												<!-- Form Group -->
												<div class="form-group col-lg-3 col-md-6 col-sm-12">
													<label style="color: #FFFFFF">Property Type</label>
													<select class="custom-select-box">
														<option>Property Type</option>
                                                        <!--home-->
														<option>Full House</option>
														<option>Flat</option>
														<option>Upper Portion</option>
														<option>Lower Portion</option>
														<option>Farm House</option>
														<option>Room</option>
                                                        <!--Commercial-->
														<option>Commercial Building</option>
														<option>Floor</option>
														<option>Shop</option>
														<option>Plot</option>
														<option>Factory</option>
                                                        <option>Building</option>
                                                        <!--Plot-->
														<option>Residential Plot</option>
														<option>Commercial Plot</option>
                                                        <!--File-->
														<option>Commercial File</option>
														<option>Residential File</option>
														<option>Farm House</option>
														<option>Farm-Plot </option>
                                                        <!--others-->
                                                        <option>Other</option>
                                                        
													</select>
                                                </div>

                                                <!-- Form Group -->
			                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
			                                        <label style="color: #FFFFFF">Phases</label>
			                                        <select class="custom-select-box">
		                                                <option>Phase</option>
		                                                <option>Phase 1</option>
		                                                <option>Phase 2</option>
		                                                <option>Phase 3</option>
		                                            </select>
			                                    </div>
			                                    <!-- Form Group -->
			                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
			                                        <div class="range-slider-one clearfix">
			                                            <label style="color: #FFFFFF">Kitchen</label>
			                                         	<select class="custom-select-box">
				                                            <option>Kitchen</option>
				                                            <option>01 Kitchen</option>
				                                            <option>02 Kitchen</option>
				                                            <option>03 Kitchen</option>
				                                            <option>04 Kitchen</option>
				                                            <option>05 Kitchen</option>
				                                        </select>
			                                        </div>
			                                    </div>

			                                    <!-- Form Group -->
			                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
			                                        <div class="range-slider-one clearfix">
			                                            <label style="color: #FFFFFF">Bed Room</label>
			                                         	<select class="custom-select-box">
				                                            <option>Bed Room</option>
				                                            <option>01 Bed Room</option>
				                                            <option>02 Bed Room</option>
				                                            <option>03 Bed Room</option>
				                                            <option>04 Bed Room</option>
				                                            <option>05 Bed Room</option>
				                                        </select>
			                                        </div>
			                                    </div>

			                                    <!-- Form Group -->
			                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
			                                        <div class="range-slider-one clearfix">
			                                            <label style="color: #FFFFFF">Bathroom</label>
			                                         	<select class="custom-select-box">
				                                            <option>Bathroom</option>
				                                            <option>01 Bathroom</option>
				                                            <option>02 Bathroom</option>
				                                            <option>03 Bathroom</option>
				                                            <option>04 Bathroom</option>
				                                            <option>05 Bathroom</option>
				                                        </select>
			                                        </div>
			                                    </div>

												<!-- Form Group -->
												<div class="form-group col-lg-3 col-md-6 col-sm-12">
													<div class="range-slider-one clearfix">
														<label style="color: #FFFFFF">Demand (RS)</label>
														<input type="text" name="Demand" placeholder="Ruppees PKR" required>
													</div>
												</div>

												<!-- Form Group -->
												<div class="form-group col-lg-3 col-md-6 col-sm-12">
													<div class="range-slider-one clearfix">
														<label style="color: #FFFFFF">Land Area</label>
														<input type="text" name="text" placeholder="Area" required>
													</div>
												</div>

												<!-- Form Group -->
												<div class="form-group col-lg-3 col-md-6 col-sm-12">
													<div class="range-slider-one clearfix">
														<label style="color: #FFFFFF">Unit</label>
														<select class="custom-select-box">
															<option>Unit</option>
															<option>Square Feet</option>
															<option>Square Yards</option>
															<option>Square Meters</option>
															<option>Marla</option>
															<option>Kanal</option>
														</select>
													</div>
												</div>

			                                </div>

			                                <div class="title" style="background-color: #2f4f4f"><h3>Address</h3></div>
			                                <div class="row">
			                                	<!-- Form Group -->
			                                    <div class="form-group col-lg-6 col-md-6 col-sm-12">
			                                        <label style="color: #FFFFFF">Address</label>
			                                        <input type="text" name="text" placeholder="Address" required>
			                                    </div>

												<!-- Form Group -->
												<div class="form-group col-lg-3 col-md-6 col-sm-12">
													<label style="color: #FFFFFF">City</label>
													<select class="custom-select-box">
														<option>City</option>
														<option>Lahore</option>
														<option>Islamabad</option>
														<option>Karachi</option>
														<option>Multan</option>
														<option>Faisalabad</option>
													</select>
												</div>

			                                    <!-- Form Group -->
			                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
			                                        <label style="color: #FFFFFF">Postal Code</label>
			                                        <input type="text" name="text" placeholder="Postal Code" required>
			                                    </div>

			                                </div>

			                                <div class="title" style="background-color: #2f4f4f"><h3>Property Gallery</h3></div>
			                                <div class="row">
			                                	<!-- Form Group -->
			                                    <div class="form-group col-lg-12">
			                                        <div id="myDropZone" class="dropzone dropzone-design">
				                                        <div class="dz-default dz-message"><span>Drop files here to upload</span></div>
				                                    </div>
			                                    </div>
			                                </div>

			                                <div class="title" style="background-color: #2f4f4f"><h3>Detailed Information</h3></div>
			                                <div class="row">
			                                	<!-- Form Group -->
			                                    <div class="form-group col-lg-12">
			                                    	<textarea name="detail" placeholder="Detailed Information"></textarea>
			                                    </div>
			                                </div>

			                                <div class="title" style="background-color: #2f4f4f"><h3>Features (optional)</h3></div>
			                                <div class="row">
                                                
                                                <!--Home,Appartment,Plot,Commercilas,Fram-house,Raya feature,-->
			                                	<div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-1">
					                                    <label for="service-1" style="background: #2e2e2e; color: #FFFFFF">Brand New</label>
					                                </div>
					                            </div>

					                            <div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-2"> 
					                                    <label for="service-2" style="background: #2e2e2e; color: #FFFFFF">Used</label>
					                                </div>
					                            </div>

					                            <div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-3"> 
					                                    <label for="service-3" style="background: #2e2e2e; color: #FFFFFF">Constructed Year</label>
					                                </div>
					                            </div>

					                            <div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-4"> 
					                                    <label for="service-4" style="background: #2e2e2e; color: #FFFFFF">Bedrooms</label>
					                                </div>
					                            </div>

					                            <div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-5"> 
					                                    <label for="service-5" style="background: #2e2e2e; color: #FFFFFF">Kitchens</label>
					                                </div>
					                            </div>

					                            <div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-6"> 
					                                    <label for="service-6" style="background: #2e2e2e; color: #FFFFFF">Furnished</label>
					                                </div>
					                            </div>
                                                
                                                <div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-6"> 
					                                    <label for="service-6" style="background: #2e2e2e; color: #FFFFFF">Floors</label>
					                                </div>
					                            </div>

					                            <div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-7"> 
					                                    <label for="service-7" style="background: #2e2e2e; color: #FFFFFF">Corner</label>
					                                </div>
					                            </div>

					                            <div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-8"> 
                                                        <!-- Not Add in plot or COmmercial-->
					                                    <label for="service-8" style="background: #2e2e2e; color: #FFFFFF">Servant Quarter</label>
					                                </div>
					                            </div>

					                            <div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-9"> 
					                                    <label for="service-9" style="background: #2e2e2e; color: #FFFFFF">Swimming Pool</label>
					                                </div>
					                            </div>
                                                <!-- Extra Feature Home-->

					                            <div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-10"> 
					                                    <label for="service-10" style="background: #2e2e2e; color: #FFFFFF">Cenima</label>
					                                </div>
					                            </div>

					                            <div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-11"> 
					                                    <label for="service-11" style="background: #2e2e2e; color: #FFFFFF">Gym</label>
					                                </div>
					                            </div>
                                                <!-- Extra Feature Plot-->
                                                <div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-12"> 
					                                    <label for="service-12" style="background: #2e2e2e; color: #FFFFFF">Posession</label>
					                                </div>
                                                    
                                                <!-- Extra Feature Appartment or Commercial-->    
					                            </div><div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-12"> 
					                                    <label for="service-12" style="background: #2e2e2e; color: #FFFFFF">Lift</label>
					                                </div>
					                            </div><div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-12"> 
					                                    <label for="service-12" style="background: #2e2e2e; color: #FFFFFF">Electricity Backup</label>
					                                </div>
                                                <!-- Farm-House-->
					                            </div><div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-12"> 
					                                    <label for="service-12" style="background: #2e2e2e; color: #FFFFFF">Lush Green Lawns</label>
					                                </div>
                                                <!-- Raya-->
					                            </div><div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-12"> 
					                                    <label for="service-12" style="background: #2e2e2e; color: #FFFFFF">Golf Course View</label>
					                                </div>
                                                
                                                <!--Same Feature All property-->
					                            </div><div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-12"> 
					                                    <label for="service-12" style="background: #2e2e2e; color: #FFFFFF">Facing Park</label>
					                                </div>
					                            </div><div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-12"> 
					                                    <label for="service-12" style="background: #2e2e2e; color: #FFFFFF">DHA Security</label>
					                                </div>
					                            </div><div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-12"> 
					                                    <label for="service-12" style="background: #2e2e2e; color: #FFFFFF">Nearby Restaurent</label>
					                                </div>
					                            </div><div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-12"> 
					                                    <label for="service-12" style="background: #2e2e2e; color: #FFFFFF">Nearby School/College</label>
					                                </div>
					                            </div><div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-12"> 
					                                    <label for="service-12" style="background: #2e2e2e; color: #FFFFFF">Nearby Hospital</label>
					                                </div>
					                            </div><div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-12"> 
					                                    <label for="service-12" style="background: #2e2e2e; color: #FFFFFF">Nearby Shopping Mall</label>
					                                </div>
					                            </div>
                                                
                                                
					                            <div class="form-group col-lg-3 col-md-6 col-sm-12 ">
					                                <div class="check-box">
					                                    <input type="checkbox" name="shipping-option" id="service-12"> 
					                                    <label for="service-12" style="background: #2e2e2e; color: #FFFFFF">Other Nearby Amenities</label>
					                                </div>
					                            </div>
			                                </div>

			                                <div class="title" style="background-color: #2f4f4f"><h3>Contact Info</h3></div>
			                                <div class="row">
			                                	<!-- Form Group -->
			                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
			                                        <label style="color: #FFFFFF">Name</label>
			                                        <input type="text" name="name" placeholder="Name" required>
			                                    </div>

			                                    <!-- Form Group -->
			                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
			                                        <label style="color: #FFFFFF">Email</label>
			                                        <input type="email" name="email" placeholder="Email" required>
			                                    </div>

												<!-- Form Group -->
												<div class="form-group col-lg-3 col-md-6 col-sm-12">
													<label style="color: #FFFFFF">Phone Number</label>
													<input type="text" name="Phone" placeholder="Phone Number" required>
												</div>

			                                    <!-- Form Group -->
			                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
			                                        <label style="color: #FFFFFF">Phone</label>
			                                        <input type="text" name="phone" placeholder="Phone" required>
			                                    </div>

			                                    <!-- Form Group -->
			                                    <div class="form-group col-lg-3 col-md-6 col-sm-12">
			                                    	<button type="submit" class="theme-btn btn-style-one"> Submit Property</button>
			                                    </div>
			                                </div>
			                            </form>
			                        </div>
	                    		</div>
	                    	</div>
	                    </div>
	                </div>
	            </div>
	            <p class="copyright-text">© Azetecs <a href="#"></a> All right reserved.</p>
	        </div>
	    </div>
	</div>

</div>
    
<script src="js/jquery.js"></script> 
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-ui.js"></script>
<script src="js/wow.js"></script>
<script src="js/dropzone.js"></script>
<script src="js/appear.js"></script>
<script src="js/script.js"></script>
</body>
</html>